<div style="display:none" id="projects-container">
   <%=fa_icon("arrow-left 5x", role: "button", class: "back-btn")%>
   <content>
     <h1>Projects</h1>
     <div id="projects-list">
        <% @projects.each do |project| %>
          <div>
            <h1><%= project.name %></h1>
            <h3><%= project.url %></h3>
            <div>
              <%=image_tag(project.photo_url, size: "600x350")%>
            </div>
          </div>

        <% end %>
     </div>
   </content>
</div>
