#landing-page-portrait{
  border-radius: 100%;
}

#landing-page-about-btn {
  margin-right: 10%;
}

#landing-page-portfolio-btn{
  margin-left: 10%;
}

.landing-page-headings {
  position: absolute;
}

#landing-page-header {
  top: 10%
}

#landing-page-footer {
  bottom: 10%;
}
