#landing-page-portrait{
  border-radius: 100%;
}

#portrait-curtain{
  height: 250px;
  width: 250px;
  border-radius: 100%;
  position: relative;
}

#portrait-curtain .links{
  position: absolute;
  bottom: 40%;
  left: 20%;
  z-index: 0;
  display: none;
}

#portrait-curtain .links a{
  color: black;
  padding: 10px;
}

#landing-page-about-btn {
  margin-right: 10%;
}

#landing-page-portfolio-btn{
  margin-left: 10%;
}

.landing-page-headings {
  position: absolute;
}

#landing-page-header {
  top: 10%
}

#landing-page-footer {
  bottom: 10%;
}
