#projects-container .back-btn {
  position: fixed;
  float: left;
  top: 2%;
  left: 1%;
}

#projects-container content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-container #project-name {
  text-align: center;
}

#projects-container #project-photo img {
  margin: 0 auto;
  
}

#projects-container #project-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#projects-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 70%;
  margin: 0 auto; 
  margin-top: 2%;
}

.slick-slide {
  outline: none;
}